<p>Dear {address.firstName} {address.lastName}</p>
<p>Please confirm your subscription to the Newsletter.</p>
<p>
    Before your subscriptions is fully enabled, you must click this link:
    <f:uri.action action="confirmSubscription" arguments="{subscriptionUid: address.uid, confirmationCode:confirmationCode}" absolute="TRUE" controller="Address" extensionName="h2dmailsub" pluginName="Pidmailsubscribe">confirm</f:uri.action>
</p>
<p> Thank you!</p>

<f:format.html>{senderSignature}</f:format.html>

